@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Inter Variable", sans-serif;
  --font-monospace: "JetBrains Mono Variable", monospace;
  --bg-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --bg-gradient-conic: conic-gradient(from 180deg at 50% 50%, var(--tw-gradient-stops));
}
